@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout_Backend.cshtml";
    ViewBag.Role = "Student";
}

<div class="main-content">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">

                <!-- Header -->
                <div class="header mt-md-5">
                    <div class="header-body">
                        <div class="row align-items-center">
                            <div class="col">

                            </div>
                            <div class="col-auto">
                                <a href="#!" class="btn btn-primary ml-2">
                                    Print Result
                                </a>

                            </div>
                        </div> <!-- / .row -->
                    </div>
                </div>

                <!-- Content -->
                <div class="card card-body p-5">
                    <div class="row">
                        <div class="col text-center">

                            <!-- Title -->
                            <h1 class="mb-2">
                                @Model.studentQuiz.quiz_title
                            </h1>
                        </div>
                    </div> <!-- / .row -->
                    <hr />
                    <div class="row">
                        <div class="col-12 col-md-6">

                            <h6 class="text-uppercase text-muted">
                                Student Detail
                            </h6>

                            <p class="text-muted mb-4">
                                <strong class="text-body">@Model.StudentName</strong> <br>
                                @Model.studentRollNo <br>
                            </p>
                        </div>
                        <div class="col-12 col-md-6 text-md-right">

                            <h6 class="text-uppercase text-muted">
                                Attempted On
                            </h6>

                            <p class="text-muted mb-4">
                                <strong class="text-body">@Model.attempted_on</strong> <br>
                            </p>
                        </div>
                    </div> <!-- / .row -->
                    <div class="row">
                        <div class="col-12">

                            <!-- Table -->
                            <div class="table-responsive">
                                <table class="table my-4">
                                    <thead>
                                        <tr>
                                            <th class="px-0 bg-transparent border-top-0">
                                                <span class="h6">Question</span>
                                            </th>
                                            <th class="px-0 bg-transparent border-top-0">
                                                <span class="h6">Choosed Option</span>
                                            </th>
                                            <th class="px-0 bg-transparent border-top-0">
                                                <span class="h6">Correct Answer</span>
                                            </th>
                                            <th class="px-0 bg-transparent border-top-0">
                                                <span class="h6">Marks</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var st_ans in Model.StudentAnswers)
                                        {
                                            @st_ans.question_id
                                        }
                                        @{
                                            var solved = 0;
                                            var choosed_option = "";
                                            var correct = 0;
                                            foreach (var question in Model.QuizQuestions)
                                            {
                                                <tr>
                                                    <td class="px-0">
                                                        @question.question_title
                                                    </td>
                                                    @foreach (var st_ans in Model.StudentAnswers)
                                                    {
                                                        if (st_ans.question_id == question.question_id)
                                                        {
                                                            solved = 1;
                                                            choosed_option = st_ans.choosed_option;
                                                            if (st_ans.correct == 1)
                                                            {
                                                                correct = 1;
                                                            }
                                                            break;
                                                        }
                                                    }
                                                    @if (solved == 1)
                                                    {
                                                        <td class="px-0">
                                                            @choosed_option
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="px-0">
                                                            <b>Not Solved</b>
                                                        </td>
                                                    }
                                                    <td class="px-0">
                                                        @question.correct_answer
                                                    </td>
                                                    <td class="px-0">
                                                        @if (correct == 1)
                                                        {
                                                            @Model.studentQuiz.marks_per_question
                                                        }
                                                        else
                                                        {
                                                            @correct
                                                        }
                                                    </td>
                                                </tr>
                                                solved = 0;
                                                correct = 0;
                                            }
                                            <tr>
                                                <td colspan="3" class="px-0 border-top border-top-2">
                                                    <strong>Total Marks</strong>
                                                </td>
                                                <td class="px-0 border-top border-top-2">
                                                    <span class="h3">
                                                        8/@Model.studentQuiz.total_marks
                                                    </span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <hr class="my-5">

                            <!-- Title -->
                            <h6 class="text-uppercase">
                                Notes
                            </h6>

                            <!-- Text -->
                            <p class="text-muted mb-0">
                                We really appreciate your business and if there’s anything else we can do, please let us know! Also, should you need us to add VAT or anything else to this order, it’s super easy since this is a template, so just ask!
                            </p>

                        </div>
                    </div> <!-- / .row -->
                </div>

            </div>
        </div> <!-- / .row -->
    </div>

</div>